@import url('https://fonts.googleapis.com/css?family=Comfortaa');

html {
	height: 100%;
}

.button{
	color: #FF851B;
}

#circle{
	background-color: #FF851B;
	height: 35px;
  	width: 35px;
 	border-radius: 50%;
	display: inline-block;
}

body {
	height: 100%;
	margin: 0;
	background-color: #0074D9;
	font-family: "Noto Sans", "Segoe UI", "Myriad Pro", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

header {
	position: sticky;
	padding: 1em;
	background-color: white;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
}

#title {
	display: inline-block;
    font-family: 'Comfortaa', cursive;
	font-size: 4em;
	color: #0074D9;
}

nav {
	display: inline-block;
	float: right;
	padding: 1em;
	background-color: white;
}

nav a {
	background-color: #FF851B;
  	color: white;
  	padding: 1em 1.5em;
  	text-decoration: none;
  	text-transform: uppercase;

}
nav a:hover {
	background-color: #555;
	cursor: pointer;
}

main {
	padding: 1em;
	background-color: #DCDCDC;
}

header:after, main:after, #posts:after {
	content: "";
	display: table;
	clear: both;
}

#posts {
	margin: 0 auto;
}

#posts article {
	display: inline-block;
	position: relative;
	float: left;
	overflow-wrap: break-word;
	width: 40vmin;
	margin: 2vmin;
	padding: 1em;
	background-color: white;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
	border-radius: 1em;
}

#posts img {
	object-fit: contain;
	max-height: 100%;
	width: 100%;
}

#posts .name {
	font-weight: bold;
}

#posts .value {
	
}

#posts .lost {
	font-weight: bold;
	color: #FF851B;
}

#posts .found {
	font-weight: bold;
	color: #0074D9;
}

footer {
	padding: 1em;
	background-color: white;
	color: #0074D9;
	text-align: center;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
}