@import url('https://fonts.googleapis.com/css?family=Comfortaa');

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	background-color: gray;
	font-family: "Noto Sans", "Segoe UI", "Myriad Pro", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

header {
	position: sticky;
	padding: 1em;
	background-color: white;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
}

#title {
	display: inline-block;
    font-family: 'Comfortaa', cursive;
	font-size: 4em;
	color: steelblue;
}

nav {
	display: inline-block;
	padding: 1em;
	background-color: white;
	text-align: right;
	float: right;
}

nav a {
	outline: none;
	color: firebrick;	/* steelblue; */
	text-decoration: none;
}

main {
	padding: 1em;
	background-color: lightgray;
}

main:after {
	content: "";
	display: table;
	clear: both;
}

dl {
	display: inline-block;
	position: relative;
	float: left;
	margin: 1em;
	padding: 1em;
	background-color: white;
	border: 1px solid gray;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
}

dt {
	
}

dd {
	
}

footer {
	padding: 1em;
	background-color: white;
	color: steelblue;
	text-align: center;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
}

.popup {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	background-color: white;
}

.blur {
	filter: blur(1rem);
}